.heading{
    margin-top: 2%;
}
.heading span{
    font-size:x-large;
    font-weight:lighter;
}
a{
    text-decoration: none;
    color:blue
}
p{
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.equations{
    margin: 40px 0px 40px;
}
.intuition{
    margin: 20px 50px 20px;
    font-weight:lighter;
    font-size: larger;
}
footer{
    margin: 20px 0px 20px
}
footer a{
    text-decoration: none;
    color: rgb(86, 86, 86)
}
h4{
    margin: 50px 0px 30px
}